
.logo{
  height: 3rem;
}


#section-1 {
  background-color: rgba(55, 162, 233, 0.623);
}

.acerca-de-mi:hover {
  transform: scale(1.1);
}

.cv {
  background-color: rgba(93, 190, 158, 0.733);
  padding-top: 20px;
  padding-bottom: 30px;
}

footer {
  background-color: rgba(0, 255, 255, 0.315);
}

footer h6 {
  text-align: center;
}

.social-icons {
  text-align: center;
}